@charset "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font-size:100%;
	    vertical-align: baseline;
	    background: transparent;
	}
	body { font-family:LG PC; padding-top:105px; }
	header { 
		width:100%;
		text-align:center; 
		background-color:white;
		top:0; left:0; right:0;
		position:fixed; 
		z-index:999;
		border-bottom:1px solid rgb(228,230,230);
	}
	header>div { display:inline-block; width:1550px; }
	header div.main_menu { background-color:whtie; width:100%; height:63px; display:inline-block; }
	header div.sub_menu { background-color:rgb(240,242,244); width:100%; height:30px; }
	header p a { 
		color:rgb(1,104,188); 
		font-weight:bold; 
		font-family:나눔스퀘어_ac;
		float:left;
		margin:20px 30px 20px 200px;
		font-size:25px;
		text-decoration:none;
	}
	
	.sub_menu ul, .main_menu ul { list-style:none; margin:0; }
	.sub_menu ul { margin-right:20px; }
	.sub_menu li a {
		display:inline-block;
		float:right;
		margin:2px 5px;
		text-decoration:none;
		color:black;
	}
	.sub_menu li a:hover { text-decoration:underline; }
	.sub_menu>div { display:inline-block; width:1500px; }
	.admin { float:left; }
	
	.home, .book, .com {
		font-size:18px;		
		font-family:나눔스퀘어_ac;
		float:left;
		font-weight:bold;
		margin: 0  10px 0 15px;
		padding:20px 5px;
		text-decoration:none;		
		position:relative;
	}
	.book, .com { cursor:default; }
	.book:hover, .com:hover {
		color:rgb(43,129,199); 
	}	
	.dropmenu { 
		display:none; 
		width:100%; 
		height:150px;
		background-color:rgb(222,225,230); 
		margin:0;
		list-style:none;
		position:absolute;
		left:-2px; top:100px;		
		z-index:999;
	}
	
	.m_book:hover .dropmenu, .m_com:hover .dropmenu { display:inline-block; }
	.drop_book, .drop_com { 	
		display:inline-block; 		
		margin:0; padding:0;
		height:100%;
	}
	.dropmenu a {
		color:black;
		display:block;
		text-decoration:none;
		font-size:18px; 
		margin:10px;
	}
	
	.dropmenu>div { width:1550px; height:150px; display:inline-block; }
	.dropmenu ul { float:left; }
	.dropmenu ul:first-child { margin-left:410px; margin-right:5px; }
	.dropmenu a:hover { text-decoration:underline; }
	
	.modal { background-color : rgba(0,0,0, .7); }
	
	.bell { cursor:pointer; }
	.bell_box { 
		background-color:white; 
		border:1px solid lightgray; 
		width:400px; height:200px;		
		display:none;
	}
	.bell_box>p { font-weight:bold; float:left; font-size:20px; margin:10px; }
	.bell_div { width:400px; height:200px; position:absolute; margin-left:1080px; margin-top:30px; display:none; }
	.x { float:right; cursor:pointer; background-color:rgb(240,242,244); padding:5px 10px; border:1px solid lightgray; }
	
	.scroll_box {
		margin-top:50px; 
		overflow:auto;
		overflow-x:hidden;
		width:400px; height:150px;
	}
	.scroll_box>a { width:100%; }
	.scroll_box div { text-align:left; padding:10px; border-bottom:1px solid lightgray; font-size:17px; }
	.scroll_box div>span { float:right; }