@charset "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font-size:100%;
	    vertical-align: baseline;
	    background: transparent;
	}
	.home { 	color:rgb(43,129,199);	border-bottom:5px solid rgb(43,129,199); }
	.com, .book { color:rgb(162,162,162); }
	
	body { background-color:rgb(240,242,244); }	
	section { text-align:center; 	}
	.back_box {
		display:inline-block; 
		text-align:center;
		width:100%; height:500px;
		background-image:url("http://localhost:9000/mybook/images/bg3.jpg");
		background-repeat: no-repeat;
		background-position:center;
		background-size: cover;
		opacity: 0.7;		
	}
	.center_box { 
		background-color:white; 
		width:1300px; 
		height:250px; 
		border:1px solid lightgray;
		display:inline-block; 
		margin-top:300px;
	 }
	 
	 .best { border:1px solid lightgray; display:inline-block; width:300px; height:200px; margin:20px 10px 20px 20px; float:left; }
	 .notice { border:1px solid lightgray; display:inline-block; width:620px; height:200px; margin:20px 10px; float:left; }
	 .search { border:1px solid lightgray; display:inline-block; width:300px; height:200px; margin:20px 10px; text-align:center; float:left; }
	 
	.title {
	 	font-weight:bold; 
	 	font-size:25px;
	 	margin:10px;
	 }
	 
	 .notice, .best { text-align:left; }
	 .notice p>a { 
	 	text-decoration:none; 
	 	color:black; 
	 	float:right;
	 	font-size:14px;
	 	font-weight:normal;
	 	margin-top:10px;
	 }
	 .notice li { margin-left:35px; }
	 .best li { margin-left:35px; list-style:none; }
	 .notice li>a, .best li>a { text-decoration:none; color:black; }
	 .notice li>a:hover, .best li>a:hover { text-decoration:underline; }
	 
	 .search>div { display:inline-block; margin-top:35px; }
	 .search p:nth-child(2) { font-size:15px;	margin:0 10px; }
	 .search .form-control { width:200px; height:25px; display:inline-block; margin-top:10px; }
	 .search_btn { 
	 	text-decoration:none; 
	 	border:1px solid lightgray; 
	 	margin:0; 
	 	padding:0 5px; 
	 	background-color:rgb(61,76,105); 
	 	color:white; 
	 	cursor:pointer;
	 }