@charset "UTF-8";

.book { color:rgb(43,129,199); border-bottom:5px solid rgb(43,129,199); }
	.home, .com  {	color:rgb(162,162,162); }	
	
	.left ul li:last-child a { color:rgb(43,129,199); font-weight:bold; }
	
	.center p { float:left; padding:5px 0; }
	.center p>span { color:rgb(170,93,11); }
	
	.seat { width:100%; display:inline-block; height:500px; margin-top:20px; }
	 .seat_box { width:800px; display:inline-block; margin-top:20px; text-align:center; }
	.seat_box #btn { 
		border:1px solid lightgray;
		width:40px; height:40px;
		font-size:14px;
	 }
	 .seat_box .no { background-color:rgb(255,185,185); color:black; }
	 .seat_box .yes { background-color:white; }
	 .seat_box .no_x { background-color:lightgray; }
	 .seat_box .choice { 
	 	background-color:lightgray; 
	 	color:white; 
	 	border:none; 
	 	display:inline-block; 
	 	margin-top:50px;
	 	padding:10px 20px;
	 	border-radius:10px;
	}
	.choice:hover { color:rgb(46,88,202); }
	
	.number { font-size:18px; margin-bottom:5px; }
	.start { margin-bottom:5px; }
	.start>span { color:rgb(43,129,199); }
	.end { color:gray; }
	.end>span { color:rgb(188,188,188); }
	
	.app { 
		font-size:14px; 
		background-color:rgb(30,179,136); 
		border:none; 
		color:white; 
		border-radius:4px; 
		float:right;
		margin:10px 0 15px 0;
		text-decoration:none;
	}